body{
	margin: 0;
	background-color: white;
}


.main{
	background: rgb(42,193,171);
	background: linear-gradient(90deg, rgba(42,193,171,1) 25%, rgba(19,13,112,1) 93%);
	width: 100%;
	height: 800px;
	display: block;
}

.navbar{
	display: block;
}
.logo{
	width: 80px;
	margin: 10px;
}
.loubaris{
	position: absolute;
	top: 20px;
	left: 100px;
	color: white;
	transition: 1s;
	font-family: Charter,Georgia,serif;
}
.loubaris:hover{
	color: gray;
}

.contact{
	color: white;
	font-family: ColfaxAI,Helvetica,sans-serif;
	letter-spacing: 0.2em;
	text-decoration: none;
	font-style: bold;
	margin-top: 45px;
	text-align: center;
	position: absolute;
	right: 15px;
}

.progress{
	color: white;
	font-family: ColfaxAI,Helvetica,sans-serif;
	letter-spacing: 0.2em;
	text-decoration: none;
	font-style: bold;
	margin-top: 45px;
	text-align: center;
	position: absolute;
	right: 170px;
}

@media only screen and (max-width: 600px) {
  .btn {
    color: white;
	font-family: ColfaxAI,Helvetica,sans-serif;
	letter-spacing: 0.2em;
	text-decoration: none;
	font-style: bold;
	margin-top: 15px;
	margin-left: 15px;
	position: relative;
  }
}