body{
	margin: 0;
	background-color: #d92929;
}

.loadingdiv{
	opacity: 1;
	transition: 1.3s;
	position: absolute;
	width: 100%;
	height: 200%;
	background-color: white;
	z-index: 99;
}

.navbar{
	background-color: white;
	height: 80px;
	width: 100%;
}



.title{
	transition: .5s;
	margin-top: 100px;
	text-align: center;
	color: white;
	font-family: "Untitled Sans",Helvetica,Arial,sans-serif;
}

.grid{
	display: grid;
	grid-template-columns: 230px 230px 230px;
	width: 670px;
	margin: 20px auto;

}




.button{
	text-align: center;
}

.boite{
	border: 4px solid white;
	border-radius: 15px;
	width: 200px;
	height: 200px;
	text-align: center;
	font-family: "DIN",Helvetica,Arial,sans-serif;
	color: white;
	margin-top: 10px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 15px;
}
.lineblancdiv{
	position: absolute;
	margin-top: 100px;
	width: 100%;
	height: 10px;
	z-index: 99;
}

.lineblanc{
	margin: 0 auto;
	transition: 2s;
	width: 1px;
	background-color: white;
	height: 8px;
}

.lineblancdivtwo{
	position: absolute;
	margin-top: 520px;
	width: 100%;
	height: 10px;
	z-index: 99;
}

.lineblanctwo{
	margin: 0 auto;
	transition: 2s;
	width: 1px;
	background-color: white;
	height: 8px;
}

.portfolio{
	transition: 0.2s;
	text-decoration: none;
	color:  #d92929;
	font-weight: bold;
	padding: 5px 15px 5px 15px;
	background-color: white;
	border: 3px solid white;
	border-radius: 15px;
}

.portfolio:hover{
	transition: 0.2s;
	color:  #d92929;
	font-weight: bold;
	padding: 5px 15px 5px 15px;
	background-color: #f2f2f2;
	border: 3px solid white;
	border-radius: 15px;
}



.description{
	width: 100%;
	position: absolute;
	margin-top: 100px;
	text-align: center;
}

.titledesc{
	transition: .5s;
	margin-top: 100px;
	text-align: center;
	color: white;
	font-family: "Untitled Sans",Helvetica,Arial,sans-serif;
}

.quisuisje{
	transition: 0.2s;
	text-align: center;
	color:  white;
	font-weight: bold;
	font-family: "Untitled Sans",Helvetica,Arial,sans-serif;
}

.titledesctwo{
	transition: .5s;
	margin-top: 100px;
	text-align: center;
	color: white;
	font-family: "Untitled Sans",Helvetica,Arial,sans-serif;
}

.portfoliogrid{
	margin-top: 600px;
}


@media only screen and (max-width: 768px) {

body{
	overflow-x: hidden;
	width: 100%;
}

.description{
	width: 100%;
	position: absolute;
	margin-top: 100px;
	text-align: center;
}

.loadingdiv{
	opacity: 1;
	transition: 1.3s;
	position: absolute;
	width: 100%;
	height: 300%;
	background-color: white;
	z-index: 99;
}

.navbarmobile{
	visibility: visible;
	position: absolute;
	top: 20px;
	right: 3%;
	height: 30px;
	width: 30px;

}

.red_band{
	visibility: visible;
	width: 30px;
	height: 6px;
	margin-top: 5px;
	background-color: #d92929;
}

.grid{
	display: block;
	width: 100%;
}
.boite{
	margin: 30px auto;

}

}
